*~
.*~
*.el
*.aux
*.log
*.out
*.pdf
*.class
*.synctex.gz
*.settings/
*.classpath
*.project
/assignments/pset1/reports
/assignments/1/build/1.tex
/assignments/1/build/CMakeCache.txt
/assignments/1/build/CMakeFiles/3.4.1/CMakeCCompiler.cmake
/assignments/1/build/CMakeFiles/3.4.1/CMakeCXXCompiler.cmake
/assignments/1/build/CMakeFiles/3.4.1/CMakeDetermineCompilerABI_C.bin
/assignments/1/build/CMakeFiles/3.4.1/CMakeDetermineCompilerABI_CXX.bin
/assignments/1/build/CMakeFiles/3.4.1/CMakeSystem.cmake
/assignments/1/build/CMakeFiles/3.4.1/CompilerIdC/CMakeCCompilerId.c
/assignments/1/build/CMakeFiles/3.4.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/assignments/1/build/CMakeFiles/CMakeDirectoryInformation.cmake
/assignments/1/build/CMakeFiles/CMakeRuleHashes.txt
/assignments/1/build/CMakeFiles/Makefile.cmake
/assignments/1/build/CMakeFiles/Makefile2
/assignments/1/build/CMakeFiles/TargetDirectories.txt
/assignments/1/build/CMakeFiles/auxclean.dir/DependInfo.cmake
/assignments/1/build/CMakeFiles/auxclean.dir/build.make
/assignments/1/build/CMakeFiles/auxclean.dir/cmake_clean.cmake
/assignments/1/build/CMakeFiles/auxclean.dir/progress.make
/assignments/1/build/CMakeFiles/cmake.check_cache
/assignments/1/build/CMakeFiles/dvi.dir/DependInfo.cmake
/assignments/1/build/CMakeFiles/dvi.dir/build.make
/assignments/1/build/CMakeFiles/dvi.dir/cmake_clean.cmake
/assignments/1/build/CMakeFiles/dvi.dir/progress.make
/assignments/1/build/CMakeFiles/feature_tests.bin
/assignments/1/build/CMakeFiles/feature_tests.c
/assignments/1/build/CMakeFiles/feature_tests.cxx
/assignments/1/build/CMakeFiles/html.dir/DependInfo.cmake
/assignments/1/build/CMakeFiles/html.dir/build.make
/assignments/1/build/CMakeFiles/html.dir/cmake_clean.cmake
/assignments/1/build/CMakeFiles/html.dir/progress.make
/assignments/1/build/CMakeFiles/pdf.dir/DependInfo.cmake
/assignments/1/build/CMakeFiles/pdf.dir/build.make
/assignments/1/build/CMakeFiles/pdf.dir/cmake_clean.cmake
/assignments/1/build/CMakeFiles/pdf.dir/depend.internal
/assignments/1/build/CMakeFiles/pdf.dir/depend.make
/assignments/1/build/CMakeFiles/pdf.dir/progress.make
/assignments/1/build/CMakeFiles/progress.marks
/assignments/1/build/CMakeFiles/ps.dir/DependInfo.cmake
/assignments/1/build/CMakeFiles/ps.dir/build.make
/assignments/1/build/CMakeFiles/ps.dir/cmake_clean.cmake
/assignments/1/build/CMakeFiles/ps.dir/progress.make
/assignments/1/build/CMakeFiles/safepdf.dir/DependInfo.cmake
/assignments/1/build/CMakeFiles/safepdf.dir/build.make
/assignments/1/build/CMakeFiles/safepdf.dir/cmake_clean.cmake
/assignments/1/build/CMakeFiles/safepdf.dir/progress.make
/assignments/1/build/Makefile
/assignments/1/build/cmake_install.cmake
